:root {
    --dark:rgba(0,0,0,1);
    --light:white;
    --primary:rgb(0,154,216);
    --main-color:rgb(38,41,54);
    --seconary-dark:rgb(45,48,61);
    --thirdly-dark:rgb(50,53,68);
    --secondary:gray;
}

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* navbar style */

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 2rem;
    --bs-navbar-color: var(--light);
    --bs-navbar-hover-color: var(--light);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: var(--primary);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: var(--light);
    --bs-navbar-brand-hover-color: var(--light);
    --bs-navbar-nav-link-padding-x: 2rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: var(--light);
}

.navbar-brand {
    border: 1px dotted var(--primary);
}
 .navbar-brand h1{
    font-size: .8rem;
}
.navbar-brand a  {
    
    font-size: .6rem;
}


.nav-link {   
    font-size: .6rem; 
}


.nav-link.active {
    color: var(--primary);
    border:2px solid var(--primary);
    border-radius: 25px;  
    margin-right: 10px;
}

.nav-link:hover {
    border:2px solid var(--primary);
    border-radius: 25px;
}

/* main section style */

main {
    background-color: rgb(38,41,54);
    min-height: 82vh;
    background-image: url("../imgs/imgi_6_banner.png");
    background-repeat: no-repeat;
    background-position: top;    
}

.form-control {
    border:none;
    padding: 15px 0px;
    z-index: 1;
    color: var(--light);
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--secondary);
}

main .form .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #628ccb;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #628ccb;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    font-size: .8rem;
}

.card  {
    background-color: var(--thirdly-dark);
    border-radius: 16px;
}

.card .card-title {
    background-color: var(--seconary-dark);
    font-size: .8rem;   
    padding: 10px 3px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}